@{
    ViewData["Title"] = "Home Page";
}


    <!-- Section 1 -->
  <section id="sections">
   <section class="section1">
      <div class="slideshow-container">
        <div class="mySlides">
          <img src="../images/carousel1.jpg">
          <div class="text">
            <h4><b>WE USE MODERN EQUIPMENT</b></h4>
          <p>
              <b>PROFESSIONAL TEAM</b>
          </p>
          <h5><b>Make your car more attractive</b></h5>
          </div>
        </div>
        
        <div class="mySlides">
          <img src="../images/carousel2.jpg">
          <div class="text">
            <h4><b>YOU CAN GET FULL INTERIOR DETAILING</b></h4>
          <p>
             <b>KEEP YOUR CAR NEW</b>
          </p>
          <h5><b>Get premium quality service for uffordable price</b></h5>
          </div>
        </div>
        
        <div class="mySlides">
          <img src="../images/carousel3.jpg">
          <div class="text">
            <h4><b>DEEP CLEANING FOR YOUR INTERIOR</b></h4>
          <p>
             <b>CARE SERVICE FOR YOUR CAR</b>
          </p>    
          <h5><b>Park and wash</b></h5>  
          </div>
        </div>

        <div class="mySlides">
          <img src="../images/carousel4.jpg">
          <div class="text">
            <h4><b>PREMIUM QUALITY WAX COATING PRODUCT</b></h4>
          <p>
              <b>QUALITY SERVICE FOR YOU</b>
          </p>
          <h5><b>Save time, money and environment</b></h5>
          </div>
        </div>

        <div class="mySlides">

          <img src="../images/carousel5.jpg">
          <div class="text">
            <h4><b>OUR PRODUCTS ARE ECO FRIENDLY </b></h4>
          <p>
            <b>EXTERIOR AND INTERIOR CARE</b>
          </p>
          <h5><b>Wash and wax today</b></h5>
          </div>
        </div>
        <div class="dots">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        </div>
      </div>
    </section>


    <!--  Section 7 Counter  -->

    <section class="section7-counter">
      <div id="projectFacts" class="sectionClass">
        <div class="fullWidth eight columns">
            <div class="projectFactsWrap ">
                <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
                  <i class="bi bi-emoji-smile"></i>
                    <p id="number1" class="number">11035</p>
                    <span></span>
                    <p>Satisfied customers</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
                  <i class="bi bi-cart-plus"></i>
                    <p id="number2" class="number">12361</p>
                    <span></span>
                    <p>Projects done</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
                  <i class="bi bi-arrow-repeat"></i>
                    <p id="number3" class="number">10273</p>
                    <span></span>
                    <p>H20 (m3) Recycled</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                  <i class="bi bi-person-plus"></i>
                    <p id="number4" class="number">3748</p>
                    <span></span>
                    <p>Recommendations</p>
                </div>
            </div>
        </div>
    </div>
    </section>

    <!-- Section 2 What we do-->
    
    <section class="section2">
          <div class="container">
            <div class="text-center">
                    <h3 class="text-dark pt-4 pb-4">WHAT WE DO</h3>
                    <p class="pb-3"><b class="fs-3 text-secondary">Premium Detailing Services on both, exterior and interior, with quality ECO Products</b></p>
                    <h4 class="fs-4 text-dark pb-5">We offer <b class="text-success">3</b> Service types, with fully professional and dedicated approach as a team and we are able to deliver excellent results and service quality driven by passion, enthusiasm, for every car that we are working on.<br>
                        <br>There is <b class="text-info">REGULAR</b>, <b class="text-warning">EXTENDED</b> and <b class="text-danger">PREMIUM</b> service type, and for each of them, time session is <b class="text-success">60 min.</b> Maybe you ask your self how can we achieve so much work in 60 min... With this professional workers, for each type of service, there is less or more workers on the each type.<br>
                        <br>For <b class="text-info">REGULAR</b> service type work <b class="text-info">2</b> of them, for <b class="text-warning">EXTENDED</b> is <b class="text-warning">3</b>, and for <b class="text-danger">PREMIUM</b> is <b class="text-danger">4</b> workers! For more details, you can see down below, for each type, what kind of service we offer:
                    </h4>                   
            </div>
            <div class="row text-center g-4 pb-3">
              <div class="col-md">             
                    <div class="card text-light border border-2 border border-info section2-background-color-flex">               
                        <div class="card-body text-center">
                            <div class="h1 mb-3 d-flex justify-content-center align-items-center text-center text-success">
                                <div>
                                    <i class="bi bi-clock pe-1"></i>
                                </div>
                                <div>
                                     <h2 class="pt-3 px-2">60 min.</h2>            
                                </div>
                            </div>
                            <h3 class="card-title mb-3 text-info"><b>REGULAR</b></h3>
                            <div class="card-text text-start">                        
                                <ul>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Complete outside hand wash.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>One step hand application of spray wax to protect vehicle exterior paint.</p>
                                    </li>                                    
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p> Hand dry with clean microfiber towels to protect your paint.</p>
                                    </li>  
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean wheels and tires.</p>
                                    </li><li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Shine on tires and plastic moldings.</p>
                                    </li><li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean exterior windows.</p>
                                    </li><li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean windows and mirrors inside & outside.</p>
                                    </li><li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Interior vacuum, carpets, and floor mats.</p>
                                    </li><li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean dashboard, console, cup holders, door panels and air vents.</p>
                                    </li>
                                    <p class="text-center text-info fs-3">Price: <b>14$</b></p>                                    
                                </ul>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                           </div>
                        </div>                 
                    </div>
              </div>
              <div class="col-md">             
                    <div class="card text-light border border-2 border border-warning section2-background-color-flex">               
                        <div class="card-body text-center">
                            <div class="h1 mb-3 d-flex justify-content-center align-items-center text-center text-success">
                                <div>
                                    <i class="bi bi-clock pe-1"></i>
                                </div>
                                <div>
                                     <h2 class="pt-3 px-2">60 min.</h2>            
                                </div>
                            </div>
                            <h3 class="card-title mb-3 text-warning"><b>EXTENDED</b></h3>
                            <div class="card-text text-start">                        
                                <ul>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Complete outside hand wash.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>One step hand application of spray wax to protect vehicle exterior paint.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Hand dry with clean microfiber towels to protect your paint.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean wheels and tires.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Shine on tires and plastic moldings.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean exterior windows.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean windows and mirrors inside & outside.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>In-depth interior vacuum, carpets, floor mats and trunk.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>Clean and dress all interior vinyl, dashboard, console, cup holders, door panels and air vents.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>Desinfecting inside steam cleaning.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>Bug, tree sap and light tar removal.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>Shampoo mats only.</p>
                                    </li>
                                    <p class="text-center text-warning fs-3">Price: <b>20$</b></p>    
                                </ul>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
                           </div>
                        </div>                 
                    </div>
              </div>
              <div class="col-md">            
                    <div class="card text-light border border-2 border border-danger section2-background-color-flex">               
                        <div class="card-body text-center">
                            <div class="h1 mb-3 d-flex justify-content-center align-items-center text-center text-success">
                                <div>
                                    <i class="bi bi-clock pe-1"></i>
                                </div>
                                <div>
                                     <h2 class="pt-3 px-2">60 min.</h2>            
                                </div>
                            </div>
                            <h3 class="card-title mb-3 text-danger"><b>PREMIUM</b></h3>
                            <div class="card-text text-start">  
                                <ul>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Complete outside hand wash.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>One step hand application of spray wax to protect vehicle exterior paint.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Hand dry with clean microfiber towels to protect your paint.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean wheels and tires.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Shine on tires and plastic moldings.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean exterior windows.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-info pe-2"></i>
                                        <p>Clean windows and mirrors inside & outside.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>In-depth Interior vacuum, carpets, floor mats and trunk.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>Clean and dress all interior vinyl, dashboard, console, cup holders, door panels and air vents.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>Desinfecting inside steam cleaning.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-warning pe-2"></i>
                                        <p>Bug, light tree sap and tar removal.</p>
                                    </li>
                                    
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-danger pe-2"></i>
                                        <p>Deep carpet, mats and seats shampooing and steam sleaning or deep clean and condition leather seats.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-danger pe-2"></i>
                                        <p>Hot water extraction (sanitized).</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-danger pe-2"></i>
                                        <p>Stain removal.</p>
                                    </li>
                                    <li class="d-flex">
                                        <i class="bi bi-check2-circle text-danger pe-2"></i>
                                        <p>Clean all interior compartments.</p>
                                    </li>     
                                    <p class="text-center text-danger fs-3">Price: <b>32$</b></p>                                                                   
                                </ul>                                  
                           </div>                            
                        </div>                                                 
                    </div>                                       
              </div> 
            </div>
          </div>
        </section>

          <!-- Section 4 -->

          <section id="questions" class="section4 p-5">
            <div class="container">
              <h2 class="text-center mb-4 text-dark">Frequently Asked Questions</h2>
              <div class="accordion accordion-flush mt-5" id="questions">
                <!-- Item 1 -->
                <div class="accordion-item text-primary">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed button-background"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-one"
                    >
                    <b class="fs-5 text-dark">What payment methods exist in our Service?</b>
                    </button>
                  </h2>
                  <div
                    id="question-one"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                        <b>You can pay with cash, but for more convenient way, we accept also VISA CARD, DINA CARD and MASTER CARD. Totaly secured payments in our Service.</b>
                    </div>
                  </div>
                </div>
                <!-- Item 2 -->
                <div class="accordion-item text-primary">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed button-background"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-two"
                    >
                    <b class="fs-5 text-dark">How reservation method functions in our Service?</b>
                    </button>
                  </h2>
                  <div
                    id="question-two"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                      <b>You can you reservate termin every dan in a week on our website.</b>
                    </div>
                  </div>
                </div>
                <!-- Item 3 -->
                <div class="accordion-item text-primary">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed button-background"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-three"
                    >
                    <b class="fs-5 text-dark">What it the working hour of our Service?</b>
                    </button>
                  </h2>
                  <div
                    id="question-three"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                      <b>We work for you every day in a week from 8AM to 18PM</b>
                    </div>
                  </div>
                </div>
                <!-- Item 4 -->
                <div class="accordion-item text-primary">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed button-background"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-four"
                    >
                    <b class="fs-5 text-dark">How many hours is duration of one Service type that you reservate?</b>
                    </button>
                  </h2>
                  <div
                    id="question-four"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                      <b>Duration is 1 hour all 3 service types.</b>
                    </div>
                  </div>
                </div>
                <!-- Item 5 -->
                <div class="accordion-item text-primary">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed button-background"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-five"
                    >
                    <b class="fs-5 text-dark">How many Service type we have in our Service?</b>
                    </button>
                  </h2>
                  <div
                    id="question-five"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                      <b>We have 3. REGULAR, EXTENDED and PREMIUM.<b>
                    </div>
                  </div>
                </div>
                <!-- Item 6 -->
                <div class="accordion-item text-primary">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed button-background"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#question-six"
                      >
                      <b class="fs-5 text-dark">What the difference between our 3 service types?</b>
                      </button>
                    </h2>
                    <div
                      id="question-six"
                      class="accordion-collapse collapse"
                      data-bs-parent="#questions"
                    >
                      <div class="accordion-body">
                        <b>Difference is in details and some benefits that you get from one to another.</b>
                      </div>
                    </div>
                  </div>
                  <!-- Item 7 -->
                <div class="accordion-item text-primary">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed button-background"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#question-seven"
                      >
                      <b class="fs-5 text-dark">How many workers do we have per one service type?</b>
                      </button>
                    </h2>
                    <div
                      id="question-seven"
                      class="accordion-collapse collapse"
                      data-bs-parent="#questions"
                    >
                      <div class="accordion-body">
                        <b>For more complex service type we have 1 more worker. Regular has 2, Extended has 3 and Premium has 4.</b>
                      </div>
                    </div>
                  </div>
                  <!-- Item 8 -->
                  <div class="accordion-item text-primary border-bottom">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed button-background"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#question-eight"
                      >
                        <b class="fs-5 text-dark">So, we are ECO? Is your all products ECO friendly?</b>
                      </button>
                    </h2>
                    <div
                      id="question-eight"
                      class="accordion-collapse collapse"
                      data-bs-parent="#questions"
                    >
                      <div class="accordion-header pb-4 text-start pt-3 ps-3">
                        <b>YES! We are 100% ECO, all we you from products are Eco Freiendly, and water that we use we recycle it. Our towels is recycled also.</b>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
                    
          <!-- Section 3 -->

        <section class="section3" id="aboutUs">
            <div class="container">
              <div class="text-center section3-text-details">
                      <h3 class="text-black pt-5 pb-5">ABOUT US</h3>
                      <p><b class="fs-3">Nested in SERBIA -> BELGRADE on 3 LOCATIONS! We can proudly say that we exist more than 10 years,  and we menaged to gather superb team, achieve best habbits, and keep long experience of any our worker and their passion for everything about car care</b></p>
                      <h4 class="fs-4 pt-5 text-black">We are the first <b>ECO FRIENDLY CERTIFICATED SERVICE</b> in Serbia, with our "Water Recycling System" and using only Ecologicaly Proven products (Shampoo, eco-foam, wax, glycerin, steam, and best quality recycled microfiber towels yet, perfectly soft and reuseable for keeping our planet clean). This sets us aside from all other similar services.<br>
                        <br>Our journey started with a simple idea at a garage on delivering a relishing Car wash experience by combining the fresh talent with professionals and making our customers believe in us.
                            Based on our ideology we hired the best in business from all over the country. And by combining our vision with their experience crafted a masterpiece and named it Eco Car Wash . In Eco Car Wash we provide you all the possibilities for making your car shine like a brand new.<br>
                        <br>We believe in perfection through profession, happiness through service. We as a team can change the way your CAR look. You can rely on our team and we will make sure your car gets the best.                            
                            Customers entrust their vehicle to us, leave it in the parking spaces provided by management to perform our services, and we will carry out our services while the customer can enjoy in our personal Coffee Shop and get free drink.
                    </h4>                 
              </div>
              <div class="p-5 section3-flex">
                <div class="container">
                  <div class="row text-center g-4 p-2 text-white">
                    <div class="col-md">
                        <div class="card bg-none border border-0 text-dark section3-flex-background-color">
                        <div class="card-body text-center car-logo">
                          <div class="h1 mb-4">
                            <i class="bi bi-star"></i>
                          </div>
                          <h3 class="card-title mb-3"><b>HAND WASH</b></h3>
                          <p class="card-text text-secondary text-start">
                            Eco Car Wash uses NANO technology to clean vehicles, which encapsulates dirt in tiny capsules, lifting it form the surface of the car when it is wiping with a microfiber towel. Then with a second microfiber towel, we buff the surface of the car to bring out an incredible shine. This waterless wash and wax method not only cleans the paint, but also protect it from bringing up future paint contaminants.
                          </p>                    
                        </div>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="card bg-none border border-0 text-dark section3-flex-background-color">
                        <div class="card-body text-center">
                          <div class="h1 mb-4">
                            <i class="bi bi-arrow-repeat"></i>
                          </div>
                          <h3 class="card-title mb-3"><b>ECO-FRIENDLY</b></h3>
                          <p class="card-text text-secondary text-start">
                            Instead of wasting water, we use a special biodegradable and eco-friendly concept that removes dirt and protects the paint layer. Over 149 liters of water per wash are saved in this process, benefitting customers, business owners, and the environment.
                          </p>                     
                        </div>
                      </div>
                    </div>                
                    <div class="col-md">
                        <div class="card bg-none border border-0 text-dark section3-flex-background-color">
                        <div class="card-body text-center">
                          <div class="h1 mb-4">
                            <i class="bi bi-emoji-smile"></i>
                          </div>
                          <h3 class="card-title mb-3"><b>CONVENIENT</b></h3>
                          <p class="card-text text-secondary text-start">
                            Eco CarWash is the solution for busy professionals. The vehicles can be washed in the place where you park or the places already selected, which allows you to save time and enjoy the important things in life.
                          </p>
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-none border border-0 text-dark section3-flex-background-color">
                          <div class="card-body text-center">
                            <div class="h1 mb-4">
                                <i class="bi bi-credit-card-2-front"></i>
                            </div>
                            <h3 class="card-title mb-3"><b>PAYMENTS</b></h3>
                            <p class="card-text text-secondary text-start">
                                For your convenience we accept VISA CARD, DINA CARD, MASTER CARD. Totaly secured payments in our Shop.
                            </p>                       
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </section>    
          

          <!-- Section 5-->

<section class="section5 coloring" id="contactUs">
  <div class="container d-block">
    <div class="section5-up">
      <div class="section5-main-title mt-5 fs-2">
        <p class="text-center text-success">Our locations and contact</p>
        <h3 class="mt-4 mb-3 text-dark text-center text-white">Car Washing and Care Points</h3>              
      </div>
    </div>
    <div class="section5-down">
      <div class="section5-left-right d-flex">
        <div class="section5-left text-center text-dark"> 
          <h3>If you have any questions, please be free to contact as by phone or you can simply send as an email. <br><br>We have our Services at 3 locations. <br>Be free to choose what address fits to you -></h3>
        </div>
        <div class="section5-right d-block">         
            <div class="g-4 px-5">                
              <h2 class="text-center mb-4 coloring">Shop 1</h2>
              <ul class="list-group list-group-flush lead">
                <li class="list-group-item coloring">
                  <span class="fw-bold">ECO CAR WASH 1:</span> Tomazeova 36
                </li>
                <li class="list-group-item coloring">
                  <span class="fw-bold">Phone:</span> 011/1234561
                </li>
                <li class="list-group-item coloring">
                  <span class="fw-bold">Email:</span> info@ecocarwash1.com
                </li>
              </ul> 
            </div>            
            <div class="g-4 px-5">                
              <h2 class="text-center mb-4 coloring">Shop 3</h2>
              <ul class="list-group list-group-flush lead">
                <li class="list-group-item coloring">
                  <span class="fw-bold">ECO CAR WASH 2:</span> Maksima Gorkog 9
                </li>
                <li class="list-group-item coloring">
                  <span class="fw-bold">Phone:</span> 011/1234562
                </li>
                <li class="list-group-item coloring">
                  <span class="fw-bold">Email:</span> info@ecocarwash2.com
                </li>
              </ul> 
            </div>                
            <div class="g-4 px-5">                    
              <h2 class="text-center mb-4">Shop 2</h2>
              <ul class="list-group list-group-flush lead">
                <li class="list-group-item coloring">
                  <span class="fw-bold">ECO CAR WASH 3:</span> Gospodara Vucica 18	
                </li>
                <li class="list-group-item coloring">
                  <span class="fw-bold">Phone:</span> 011/1234563
                </li>
                <li class="list-group-item coloring">
                  <span class="fw-bold">Email:</span> info@ecocarwash3.com
                    </li>
              </ul> 
            </div>    
        </div>              
      </div>
    </div>                
  </div>                                               
</section>

<!-- Section 6 -->
<section class="section6">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="section6-container-main-1">
          <div class="section6-container-1">
            <div class="section6-left d-block text-center">
              <h3 class="pb-3 text-danger"><b><p>Dry cleaning</p></b><h3>
              <h1>Dry cleaning any dirt inside the car and truck with:<br><br>                
                  <li class="text-start text-center">Natural cleaners</li>
                  <li class="text-start text-center">Heightened care</li>
                  <li class="text-start text-center">Aromatization</li>
              </h1>
            </div>
            <div class="section6-right">
              <div class="slider-title">
                <div class="after"><i class="bi bi-arrow-left-short"></i>BEFORE</div>
              </div>
              <div class="section6-slider-1">
                <div class="image-container">
                  <img
                    class="image-before slider-image"
                   src="/images/Before_01.jpg"
                    alt="color photo"
                  />
                  <img
                    class="image-after slider-image"
                    src="/images/After_01.jpg"
                    alt="black and white"
                  />
                </div>
                <input
                  type="range"
                  min="0"
                  max="100"
                  value="50"
                  aria-label="Percentage of before photo shown"
                  class="slider1"
                />
                <div class="slider-line" aria-hidden="true"></div>
                <div class="slider-button" aria-hidden="true">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                  >
                    <rect width="256" height="256" fill="none"></rect>
                    <line
                      x1="128"
                      y1="40"
                      x2="128"
                      y2="216"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <line
                      x1="96"
                      y1="128"
                      x2="16"
                      y2="128"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <polyline
                      points="48 160 16 128 48 96"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></polyline>
                    <line
                      x1="160"
                      y1="128"
                      x2="240"
                      y2="128"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <polyline
                      points="208 96 240 128 208 160"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></polyline>
                  </svg>
                </div>       
              </div>
              <div class="slider-title">
                <div class="after">AFTER<i class="bi bi-arrow-right-short"></i></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="section6-container-main-2">
          <div class="section6-container-2">
            <div class="section6-left d-block text-center">
              <h3 class="pb-3 text-primary"><b><p>Detail cleaning</p></b><h3>
              <h1>Stain removal and upholstery restoration with:<br><br>
                  <li class="text-start text-center">Natural cleaners</li>
                  <li class="text-start text-center">Heightened care</li>
                  <li class="text-start text-center">Aromatization</li>
              </h1>
            </div>
            <div class="section6-right">
              <div class="slider-title">
                <div class="after"><i class="bi bi-arrow-left-short"></i>BEFORE</div>
              </div>
              <div class="section6-slider-2">
                <div class="image-container">
                  <img
                    class="image-before slider-image"
                   src="/images/Before_02.jpg"
                    alt="color photo"
                  />
                  <img
                    class="image-after slider-image"
                    src="/images/After_02.jpg"
                    alt="black and white"
                  />
                </div>
                <input
                  type="range"
                  min="0"
                  max="100"
                  value="50"
                  aria-label="Percentage of before photo shown"
                  class="slider2"
                />
                <div class="slider-line" aria-hidden="true"></div>
                <div class="slider-button" aria-hidden="true">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                  >
                    <rect width="256" height="256" fill="none"></rect>
                    <line
                      x1="128"
                      y1="40"
                      x2="128"
                      y2="216"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <line
                      x1="96"
                      y1="128"
                      x2="16"
                      y2="128"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <polyline
                      points="48 160 16 128 48 96"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></polyline>
                    <line
                      x1="160"
                      y1="128"
                      x2="240"
                      y2="128"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <polyline
                      points="208 96 240 128 208 160"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></polyline>
                  </svg>
                </div>       
              </div>
              <div class="slider-title">
                <div class="after">AFTER<i class="bi bi-arrow-right-short"></i></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="section6-container-main-3">
          <div class="section6-container-3">
            <div class="section6-left d-block text-center">
              <h3 class="pb-3 text-success"><b><p>Trunk cleaning</p></b><h3>
              <h1>Trunk and pile rug car cleaning service with:<br><br>              
                <li class="text-start text-center">Natural cleaners</li>
                <li class="text-start text-center">Heightened care</li>
                <li class="text-start text-center">Aromatization</li>            
              </h1>
            </div>
            <div class="section6-right">
              <div class="slider-title">
                <div class="after"><i class="bi bi-arrow-left-short"></i>BEFORE</div>
              </div>
              <div class="section6-slider-3">
                <div class="image-container">
                  <img
                    class="image-before slider-image"
                   src="/images/Before_03.jpg"
                    alt="color photo"
                  />
                  <img
                    class="image-after slider-image"
                    src="/images/After_03.jpg"
                    alt="black and white"
                  />
                </div>
                <input
                  type="range"
                  min="0"
                  max="100"
                  value="50"
                  aria-label="Percentage of before photo shown"
                  class="slider3"
                />
                <div class="slider-line" aria-hidden="true"></div>
                <div class="slider-button" aria-hidden="true">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                  >
                    <rect width="256" height="256" fill="none"></rect>
                    <line
                      x1="128"
                      y1="40"
                      x2="128"
                      y2="216"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <line
                      x1="96"
                      y1="128"
                      x2="16"
                      y2="128"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <polyline
                      points="48 160 16 128 48 96"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></polyline>
                    <line
                      x1="160"
                      y1="128"
                      x2="240"
                      y2="128"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <polyline
                      points="208 96 240 128 208 160"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></polyline>
                  </svg>
                </div>       
              </div>
              <div class="slider-title">
                <div class="after">AFTER<i class="bi bi-arrow-right-short"></i></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="section6-container-main-4">
          <div class="section6-container-4">
            <div class="section6-left d-block text-center">
              <h3 class="pb-3 text-warning text-center"><b><p>Dry cleaning</p></b><h3>
              <h1>Dry cleaning any dirt inside the car and trunk with:<br><br>
                <li class="text-start text-center">Natural cleaners</li>
                <li class="text-start text-center">Heightened care</li>
                <li class="text-start text-center">Aromatization</li>
              </h1>
            </div>
            <div class="section6-right">
              <div class="slider-title">
                <div class="after"><i class="bi bi-arrow-left-short"></i>BEFORE</div>
              </div>
              <div class="section6-slider-4">
                <div class="image-container">
                  <img
                    class="image-before slider-image"
                   src="/images/Before_04.jpg"
                    alt="color photo"
                  />
                  <img
                    class="image-after slider-image"
                    src="/images/After_04.jpg"
                    alt="black and white"
                  />
                </div>
                <input
                  type="range"
                  min="0"
                  max="100"
                  value="50"
                  aria-label="Percentage of before photo shown"
                  class="slider4"
                />
                <div class="slider-line" aria-hidden="true"></div>
                <div class="slider-button" aria-hidden="true">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                  >
                    <rect width="256" height="256" fill="none"></rect>
                    <line
                      x1="128"
                      y1="40"
                      x2="128"
                      y2="216"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <line
                      x1="96"
                      y1="128"
                      x2="16"
                      y2="128"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <polyline
                      points="48 160 16 128 48 96"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></polyline>
                    <line
                      x1="160"
                      y1="128"
                      x2="240"
                      y2="128"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></line>
                    <polyline
                      points="208 96 240 128 208 160"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="16"
                    ></polyline>
                  </svg>
                </div>       
              </div>
              <div class="slider-title">
                <div class="after">AFTER<i class="bi bi-arrow-right-short"></i></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>



<section class="section8">
  <div class="section8-title-text">   
      We love our job, we are dedicated and fully commited to details, and just to make your car shines. Reservate, come and see the ideal condition of your car that has never look that graat before!
  </div>
</section>

<section class="section9">
  <div class="section9-container">
    <div class="section9-title">
      <b><h3 class="pt-5 pb-5">OUR PARTNERS</h3></b>
    </div>
    <div class="section9-partners pb-5">
      <div class="grid-items mb-4">
        <div class="grid-item mx-3">
          <img src="/images/partner1.png">
        </div>
        <div class="grid-item mx-3">
          <img src="/images/partner2.png">
        </div>
        <div class="grid-item mx-3">
          <img src="/images/partner3.png">
        </div>  
        <div class="grid-item mx-3">
          <img src="/images/partner4.png">
        </div>
      </div>
      <div class="grid-items mb-4">
        <div class="grid-item mx-3">
          <img src="/images/partner5.png">
        </div>
        <div class="grid-item mx-3">
          <img src="/images/partner6.png">
        </div>  
        <div class="grid-item mx-3">
          <img src="/images/partner7.png">
        </div>
        <div class="grid-item mx-3">
          <img src="/images/partner8.png">
        </div>
      </div>
      <div class="grid-items mb-4">       
        <div class="grid-item mx-3">
          <img src="/images/partner9.png">
        </div>  
        <div class="grid-item mx-3">
          <img src="/images/partner10.png">
        </div> 
        <div class="grid-item mx-3">
          <img src="/images/partner11.png">
        </div> 
        <div class="grid-item mx-3">
          <img src="/images/partner12.png">
        </div> 
      </div>  
    </div>
  </div>
</section>

      <footer class="p-5 text-light text-center position-relative">
          <div class="container">
            <p class="lead fs-6">ECO CAR WASH &copy; Copyright 2022 - All rights reserved</p>
    
            <a href="#" class="position-absolute bottom-0 end-0 p-5">
              <i class="bi bi-arrow-up-circle h1 text-warning"></i>
            </a>
          </div>
        </footer>
</section>